@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  @apply h-full;
  @apply bg-gray-100;
}

/**
 * Notification
 */
.formkit-field-notification {
  @apply text-sm;
}

.formkit-field-notification.error {
  @apply text-red-500;
}

.formkit-field-notification.disabled,
.formkit-field-notification.information {
  @apply text-gray-500;
}

/**
 * FormKit styling
 */
.formkit-form {
  @apply space-y-4;
}

.formkit-fields {
  --column-span: 12;
  @apply gap-4;
  @apply grid;
  @apply w-full;
  @apply grid-cols-12;
}

.formkit-field {
  grid-column: auto / span var(--column-span);
  @apply grid gap-3 grid-cols-1;
}

/**
 * Header setup
 */
.formkit-field-header-inner {
  display: flex;
  align-items: center;
}

.formkit-field-title {
  @apply text-xl font-medium tracking-tight;
}

.formkit-field-description {
  @apply text-sm;
}

formkit-radio-field .form-radio-wrapper:not(:last-child) {
  @apply mr-4;
}

.formkit-radio-buttons-field {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.formkit-radio-buttons-field [type="radio"] {
  @apply sr-only;
}

.formkit-radio-button-label {
  @apply flex-1;
  @apply border;
  @apply border-gray-500;
  @apply p-5;
  @apply cursor-pointer;
  @apply rounded-md;
}

.formkit-radio-buttons-field [type="radio"]:disabled + .formkit-radio-button-label {
  @apply opacity-50;
  @apply cursor-not-allowed;
}

.formkit-radio-buttons-field [type="radio"]:checked + .formkit-radio-button-label {
  @apply bg-black;
  @apply border-black;
  @apply text-white;
  @apply ring-4;
  @apply ring-offset-2;
  @apply ring-black;
  @apply ring-offset-white;
}

.formkit-radio-button-label-title {
  @apply uppercase;
  @apply font-medium;
  @apply text-xs;
}

.formkit-radio-button-label-description {
  @apply text-sm;
}

.formkit-repeatable-field {
  @apply grid;
  @apply gap-4;
  @apply justify-items-start;
}

.formkit-repeatable-field-group {
  @apply flex;
  @apply items-start;
  @apply w-full;
}

.formkit-repeatable-field-group formkit-nested-form {
  @apply flex-1;
}

.button.formkit-repeatable-field-add {
  @apply bg-white;
  @apply text-black;
}

.formkit-repeatable-field-delete {
  @apply flex-none;
  @apply ml-2;
  @apply p-3;
  @apply mt-1;
  @apply text-xl;
}

.formkit-field-notification {
  @apply text-sm;
  @apply mt-2;
}

.formkit-field-notification.error {
  @apply text-red-500;
}

.formkit-field-notification.disabled,
.formkit-field-notification.information {
  @apply text-gray-500;
}

.button[disabled],
button[disabled] {
  pointer-events: none;
  opacity: .25;
}

.checkbox-field-multiple {
  @apply grid !important;
  @apply grid-cols-1 md:grid-cols-4;
  @apply gap-4;
}

.form-checkbox-wrapper,
.form-radio-wrapper {
  @apply cursor-pointer;
}

.form-checkbox {
  @apply rounded;
}

.form-checkbox,
.form-radio {
  @apply text-gray-700 focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}

.form-checkbox-label,
.form-radio-label {
  @apply ml-2;
}

.formkit-input {
  @apply p-4 rounded-md border-gray-300 border w-full transition-colors focus:border-black focus:ring-1 ring-blue-500 focus:outline-none;
}

.formkit-input.ng-invalid.ng-touched:not(:focus) {
  @apply border-red-500 ring-1 ring-red-500
}

.formkit-field-tooltip {
  @apply flex ml-1 items-center justify-center w-6 h-6 cursor-pointer text-gray-500 hover:text-black relative z-20;
}

.formkit-field-tooltip:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100%);
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  @apply bg-white;
  @apply p-2;
  @apply rounded-md;
  @apply shadow-lg;
  @apply text-xs;
  @apply border;
  @apply border-gray-200;
}

input[disabled] {
  @apply bg-gray-100;
  @apply text-gray-400;
  @apply pointer-events-none;
  @apply cursor-not-allowed;
}

.formkit-toggle-wrapper {
  @apply flex items-center cursor-pointer;
}

.formkit-toggle {
  @apply flex-none relative bg-gray-200 ring-1 ring-gray-300 mr-3;
  width: 44px;
  height: 24px;
  display: block;
  border-radius: 46px;
}

.formkit-toggle:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.15s;
}

.formkit-toggle-wrapper input[type=checkbox]{
  @apply sr-only;
}

.formkit-toggle-wrapper input:checked + .formkit-toggle {
  @apply ring-green-600;
  @apply bg-green-500;
}

.formkit-toggle-wrapper input:checked + .formkit-toggle:after {
  @apply bg-white;
}

.formkit-toggle-wrapper input:disabled + .formkit-toggle:after {
  opacity: .5;
  cursor: not-allowed;
}

.formkit-toggle-wrapper input:checked + .formkit-toggle:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.button {
  @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-black hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.nav {
  @apply flex space-x-2 items-center;
}

.nav > li a {
  @apply block py-3 px-6 font-medium text-lg text-gray-100;
}

.nav > li a:hover:not(.active) {
  @apply bg-gray-700;
}

.nav > li a.active {
  @apply bg-gray-100 text-gray-800;
}

h2 {
  @apply text-4xl font-bold text-gray-800 tracking-tight;
}

header h2 + p {
  @apply text-lg;
}
