@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html, body {
  @apply h-full;
  @apply bg-gray-100;
}

.formkit-field-notification {
  @apply text-sm;
}

.formkit-field-notification.error {
  @apply text-red-500;
}

.formkit-field-notification.disabled,
.formkit-field-notification.information {
  @apply text-gray-500;
}

.mat-form-field {
  @apply w-full;
}

.mat-form-field-wrapper {
  @apply pb-0;
}

/**
 * FormKit styling
 */
.formkit-form {
  @apply space-y-4;
}

.formkit-fields {
  --column-span: 12;
  @apply gap-4;
  @apply grid;

  grid-template-columns: repeat(12, 1fr);
}

.formkit-field {
  grid-column: auto / span var(--column-span);
}

:host {
  display: block;
}

.formkit-field-header-inner {
  display: flex;
  align-items: center;
}

.formkit-field-title {
  @apply text-xl font-medium tracking-tight;
}

.formkit-field-tooltip {
  @apply flex ml-1 items-center justify-center w-6 h-6 cursor-pointer text-gray-500 hover:text-black;
}

formkit-radio-field .mat-radio-group .mat-radio-button:not(:last-child) {
  @apply mr-4;
}

.formkit-radio-buttons-field {
  @apply flex;
  @apply pb-3;
}

.formkit-radio-buttons-field [type="radio"] {
  @apply sr-only;
}

.formkit-radio-button-label {
  @apply flex-1;
  @apply border;
  @apply border-gray-500;
  @apply rounded-md;
  @apply p-3;
  @apply cursor-pointer;
}

.formkit-radio-buttons-field [type="radio"]:nth-of-type(2n) + .formkit-radio-button-label {
  @apply ml-3;
  @apply border-l;
}

.formkit-radio-buttons-field [type="radio"]:disabled + .formkit-radio-button-label {
  @apply opacity-50;
  @apply cursor-not-allowed;
}

.formkit-radio-buttons-field [type="radio"]:checked + .formkit-radio-button-label {
  @apply bg-black;
  @apply border-black;
  @apply text-white;
}

.formkit-radio-button-label-title {
  @apply uppercase;
  @apply font-medium;
  @apply text-xs;
}

.formkit-radio-button-label-description {
  @apply text-sm;
}

.formkit-array-field-group {
  @apply flex;
  @apply items-start;
}

.formkit-array-field-group formkit-form {
  @apply flex-1;
}

.button.formkit-array-field-add {
  @apply bg-white;
  @apply text-black;
}

.formkit-array-field-delete {
  @apply flex-none;
  @apply ml-2;
  @apply p-3;
  @apply mt-2;
  @apply text-xl;
}

.formkit-field-notification {
  @apply text-sm;
}

.formkit-field-notification.error {
  @apply text-red-500;
}

.formkit-field-notification.disabled,
.formkit-field-notification.information {
  @apply text-gray-500;
}

.button[disabled],
button[disabled] {
  pointer-events: none;
  opacity: .25;
}
