<div class="max-w-4xl mx-auto mb-12">
  <div class="shadow overflow-hidden sm:rounded-md">
    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">

      <header class="space-y-1">
        <header class="text-3xl tracking-tight font-bold">{{ title | titlecase }}</header>
        <p>{{ message }}</p>
      </header>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <formkit-form #FormKitForm [form]="form" [config]="config"></formkit-form>
      </form>

      <ng-container *ngIf="debug">
        <pre>{{ form.getRawValue() | json }}</pre>
      </ng-container>
    </div>

    <div class="px-4 py-3 bg-gray-50 sm:px-6">
      <button
        cy-form-submit-button
        [disabled]="form.invalid"
        (click)="onSubmit()"
        type="button"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-black hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Save
      </button>
    </div>
  </div>
</div>
