<div class="max-w-4xl mx-auto mb-16 space-y-3" [attr.id]="'example-' + title.toLowerCase()">
  <header class="space-y-0 pt-5">
    <h3 class="text-2xl tracking-tight font-bold">{{ title | titlecase }}</h3>
    <p>{{ message }}</p>
  </header>

  <div class="overflow-hidden shadow-md bg-white">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-5">
      <formkit-form #FormKitForm [form]="form" [config]="config">
        <div submitClickedFormInvalid class="pt-6 text-sm text-red-500">
          This message is shown if a submit attempt is done, but the form still has errors. You can use the <code>submitClickedFormInvalid</code>
          directive for this message.
        </div>

        <p class="text-sm text-red-500" submitClickedFormInvalid></p>
      </formkit-form>
    </form>

    <div class="border-t p-5" *ngIf="debug">
      <div class="text-xs bg-gray-800 text-white p-3 rounded-sm">
        <pre>{{ form.getRawValue() | json }}</pre>
      </div>
    </div>

    <div class="flex items-center space-x-4 justify-between bg-gray-50 px-5 py-3">
      <button
        data-cy-form-submit-button
        (click)="onSubmit()"
        type="button"
        class="button">
        Save form
      </button>

      <a
        [href]="linkToInputs + 'e2e.' + title.toLowerCase() + '.inputs.ts'"
        class="text-blue-500 font-bold text-sm"
        target="_blank"
        rel="noreferrer noopener">Configuration for this form (Github) →</a>
    </div>
  </div>
</div>
