<div class="bg-gray-800 pt-16">
  <div class="max-w-4xl px-4 mx-auto">
    <h1 class="tracking-tight space-y-2">
      <span class="block font-extrabold text-white text-5xl">ngx-formkit</span>
      <span class="block text-gray-200 text-3xl">Angular library to help with dynamic and reactive forms.</span>
    </h1>

    <ul class="nav pt-16" role="menu">
      <li><a href="#" class="active">Form Examples</a></li>
      <li><a [href]="urlToGithubReadme" target="_blank" rel="noreferrer noopener">Readme →</a></li>
    </ul>
  </div>
</div>

<div class="max-w-4xl px-4 mx-auto space-y-4 py-12">
  <div class="shadow overflow-hidden px-4 py-5 bg-white space-y-6 sm:p-6">
    <formkit-form-field [control]="debugControl" name="toggle" [field]="debugField"></formkit-form-field>
  </div>

  <header class="pt-12 pb-6 space-y-1">
    <h2>Examples</h2>
    <p>Shows the powers of FormKit.</p>
  </header>

  <app-e2e-form-creator
    *ngFor="let example of exampleForms; trackBy: trackByFn"
    [debug]="debugControl.value === true"
    [config]="example.formConfig"
    [message]="example.message"
    [title]="ExampleTypes[example.type]">
  </app-e2e-form-creator>

  <header class="pt-12 pb-6 space-y-1">
    <h2>Status</h2>
    <p>With the <code>status</code> property, you can make a field <strong>required</strong>, <strong>disabled</strong> or <strong>hidden</strong> based on a specific condition.</p>
  </header>

  <app-e2e-form-creator
    *ngFor="let example of statusForms; trackBy: trackByFn"
    [debug]="debugControl.value === true"
    [config]="example.formConfig"
    [message]="example.message"
    [title]="ExampleTypes[example.type]">
  </app-e2e-form-creator>

  <header class="pt-12 pb-6 space-y-1">
    <h2>Available field types</h2>
    <p>13 types, a hidden type and a custom type to choose from.</p>
  </header>

  <app-e2e-form-creator
    *ngFor="let example of fieldTypeForms; trackBy: trackByFn"
    [debug]="debugControl.value === true"
    [config]="example.formConfig"
    [message]="example.message"
    [title]="ExampleTypes[example.type]">
  </app-e2e-form-creator>
</div>
