<div class="bg-gray-800 py-24">
  <div class="max-w-4xl mx-auto">
    <h1 class="tracking-tight">
      <span class="block font-extrabold text-white text-5xl">ngx-FormKit</span>
      <span class="block text-gray-200 text-3xl">Reactive forms with conditional logic. Easy.</span>
    </h1>
  </div>
</div>

<div class="max-w-4xl mx-auto space-y-4 py-6">
  <formkit-form [form]="form" [config]="formConfig"></formkit-form>

  <div class="pt-12 pb-6">
    <h2 class="text-3xl tracking-tight text-gray-900 sm:text-4xl">
      <span class="block font-extrabold">Examples</span>
      <span class="block text-gray-400">Shows the powers of FormKit.</span>
    </h2>
  </div>

  <app-e2e-form-creator
    *ngFor="let example of exampleFieldSets"
    [debug]="form.controls.toggle.value === true"
    [config]="example.formConfig"
    [message]="example.message"
    [title]="example.title">
  </app-e2e-form-creator>

  <div data-cy-available-field-types>
    <div class="pt-12 pb-6">
      <h2 class="text-3xl tracking-tight text-gray-900 sm:text-4xl">
        <span class="block font-extrabold">Available field types</span>
        <span class="block text-gray-400">13 types, a hidden type and a custom type to choose from.</span>
      </h2>
    </div>
    <app-e2e-form-creator
      *ngFor="let example of fieldTypeFieldSets"
      [debug]="form.controls.toggle.value === true"
      [config]="example.formConfig"
      [message]="example.message"
      [title]="example.title">
    </app-e2e-form-creator>
  </div>
</div>
